@import url("./font_sarabun.css");
* {
  font-family: "Sarabun", Tahoma, sans-serif;
  font-size: 16px;
}
.c-757575 {
  color: #757575;
}
.body_login {
  background-color: #4451ff;
  background-image: url("../images/bg_login.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.md-form input[type="date"],
.md-form input[type="datetime-local"],
.md-form input[type="email"],
.md-form input[type="number"],
.md-form input[type="password"],
.md-form input[type="search-md"],
.md-form input[type="search"],
.md-form input[type="tel"],
.md-form input[type="text"],
.md-form input[type="time"],
.md-form input[type="url"],
.md-form textarea.md-textarea {
  border-bottom: 1px solid #333333;
}

.md-form label {
  color: #751dfb;
  font-weight: 500 !important;
}
.form-check {
  padding-left: 0;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.form-check-input[type="checkbox"] + label,
label.btn input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  height: 1.5625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-check-input[type="checkbox"] + label:before,
.form-check-input[type="checkbox"]:not(.filled-in) + label:after,
label.btn input[type="checkbox"] + label:before,
label.btn input[type="checkbox"]:not(.filled-in) + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #751dfb;
  border-radius: 1px;
  margin-top: 3px;
  transition: 0.2s;
}
.form-check-input[type="checkbox"]:not(.filled-in) + label:after,
label.btn input[type="checkbox"]:not(.filled-in) + label:after {
  border: 0;
  transform: scale(0);
}
.form-check-input[type="checkbox"]:checked + label:before,
label.btn input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 1.375rem;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #751dfb;
  border-bottom: 2px solid #751dfb;
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}
.form-check-input[type="checkbox"]:checked + label {
  color: #751dfb;
}

.form-check-label {
  font-weight: 500;
  color: #333333;
}
.text-forgotpass {
  color: #333333;
  font-weight: 500;
  text-decoration: underline;
}
.text-forgotpass:hover {
  color: #751dfb;
}

.btn-login {
  background-color: #751dfb;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
.btn-login:hover {
  background-color: #954eff;
  color: #ffffff;
}
.btn-register {
  background-color: #29e0c2;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
.btn-register:hover {
  background-color: #29e0c2;
  color: #333333;
}
.card-body-login {
  padding: 3rem;
}

header {
  background-image: url("../images/bg_login.jpg");
}
.table.table.table-huayza-transfer td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  vertical-align: middle;
}
.btn-select-game {
  background-color: #3ccb4f;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(42, 130, 46, 1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(42, 130, 46, 1);
  box-shadow: 0px 3px 0px 0px rgba(42, 130, 46, 1);
}
.btn-select-game.btn-rule {
  font-size: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.btn-option-table {
  background-color: #ffb83b;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(220, 155, 25, 1);
  -moz-box-shadow: 0px 3px 0px 0px rgba(220, 155, 25, 1);
  box-shadow: 0px 3px 0px 0px rgba(220, 155, 25, 1);
}
.card.card-game:hover {
  background-color: #cdf0d2;
}
.text-game-title {
  color: #5642fb;
}
.close-text-title {
  color: #e71f24;
}
.bg-4068ec {
  background-color: #4068ec;
}
.status-money {
  padding: 0.15rem 0.5rem;
  text-align: center;
}
.status-money.approve {
  background-color: #58ef00;
  color: #000000;
}
.status-money.cancel {
  background-color: #fe2c49;
  color: #ffffff;
}
.status-money.pendding {
  background-color: #ffff00;
  color: #000000;
}
.img-placeholder {
  border: 1px solid #666666;
  border-radius: 0.25rem;
  cursor: pointer;
}
.btn-choosefile {
  background-color: #ebebeb;
  padding: 0.35rem 1rem;
  border: 1px solid #8a8a8a;
}
.tabs-select {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.tabs-select > .tab-btn {
  margin: 0.25rem;
}

.tab-btn > .tab-input {
  width: 0;
  height: 0;
  margin: 0;
  display: none;
}
.tab-btn > .tab-box {
  padding: 0.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #4068ec;
  font-weight: 500;
  font-size: 20px;
  color: #4068ec;
  border-radius: 3px;
  cursor: pointer;
}
.tab-btn > .tab-input:checked + .tab-box {
  background-color: #4068ec;
  color: #ffffff;
}

.nav-tabs.nav-tabs-cat-num {
  border-bottom: none;
}
.nav-tabs.nav-tabs-cat-num .nav-link {
  background-color: #ffffff;
  border: 2px solid #4068ec;
  color: #4068ec;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  margin: 8px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.nav-tabs.nav-tabs-cat-num .nav-item.show .nav-link,
.nav-tabs.nav-tabs-cat-num .nav-link.active {
  background-color: #4068ec;
  color: #ffffff;
}

.tab-content-num {
  margin-top: 1.5rem;
}

.num-select {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.num-select > .num-btn {
  margin: 0.25rem;
}
.text-underlind {
  text-decoration: underline;
}
.num-btn > .num-input {
  width: 0;
  height: 0;
  margin: 0;
  display: none;
}
.num-btn > .num-box {
  padding: 0.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  border: 2px solid #4068ec;
  font-weight: 500;
  font-size: 20px;
  color: #4068ec;
  border-radius: 3px;
  cursor: pointer;
}
.num-btn > .num-input:checked + .num-box {
  background-color: #4068ec;
  color: #ffffff;
}
.sticky-class {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 767px) {
  .tabs-select > .tab-btn {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tabs-select > .tab-btn {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .nav-catnum-block {
    overflow: hidden;
    overflow-x: scroll;
  }
  .nav-tabs.nav-tabs-cat-num {
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}
@media (max-width: 1199px) {
}
@media (min-width: 1200px) {
  header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  nav.navbar.navbar-huayza .navbar-nav .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  nav.navbar.navbar-huayza .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-weight: 500;
  }
}
